extends base.pug

block style 
    <link rel="stylesheet" href="/static/css/logs.css">

block title
    <title>Test report</title>

block content 
    <aside id="sidebar">
        <h2>Files</h2>
        <ul>
            <li><a href="#top">-- Go to top</a></li>
            each file in testInfo.files
                <li><a href="##{file.path}" title="#{file.path}">#{file.path}</a></li>
        </ul>
    </aside>

    <main>
        <h1 id="top">Test report</h1>
        <div class="info-div">
            <p>Owner: <a href="https://github.com/#{user}" target="_blank">#{user}</a><p>
            <p>Repository: <a href="https://github.com/#{user}/#{repo}" target="_blank">#{repo}</a></p>
            <p>Branch: <a href="https://github.com/#{user}/#{repo}/commits/#{branch}" target="_blank">#{branch}</a></p>
        </div>

        each file in testInfo.files
            <div id="#{file.path}" class="file-div">
                <h2>#{file.path}</h2>
                <h4>Tested functions</h4>
                <div class="func-wrapper">
                    each func in file.functions
                        if func.status !== '1'
                            <div class="func-div status#{func.status}">
                                <h3>#{func.name}</h3>
                                each TC in func.testCases
                                    if TC.passed
                                        <div class="TC-div TC-passed">
                                            <p><span class="material-icons">check</span>#{TC.description}</p>
                                        </div>
                                    else 
                                        <div class="TC-div TC-failed">
                                            <p><span class="material-icons">clear</span>#{TC.description}</p>
                                        </div>
                            </div> 
                </div>
                <h4>Excluded functions</h4>
                <div class="func-wrapper2">
                    each func in file.functions
                        if func.status === '1'
                            <div class="func-div status#{func.status}">
                                <p>#{func.name}
                            </div> 
                </div>
            </div>
    </main>
