extends base.pug

block style 
    <link rel="stylesheet" href="/static/css/logs.css">

block title
    <title>Logs</title>

block content 
    //- <aside id="sidebar">
    //-     <h2>Files</h2>
    //-     <ul>
    //-         <li><a href="#top">-- Go to top</a></li>
    //-         <li><a href=""></a></li>
    //-     </ul>
    //- </aside>

    <main>
        <h1>Logs</h1>
        
        each file, index in testInfo.files
            <div class="file-div">
                <p>File is #{file.path}
                <div class="func-wrapper">
                    each func in file.functions
                        if func.status !== 1
                            <div class="func-div status#{func.status}">
                                <p>Function is #{func.name}
                                each TC, index in func.testCases
                                    if TC.passed
                                        <div class="TC-div TC-passed">
                                            <p>TC #{TC.description} has passed</p>
                                        </div>
                                    else 
                                        <div class="TC-div TC-failed">
                                            <p>TC #{TC.description} has failed</p>
                                        </div>
                            </div> 
                </div>
                <div class="func-wrapper2">
                    each func in file.functions
                        if func.status === 1
                            <div class="func-div status#{func.status}">
                                <p>#{func.name}
                            </div> 
                </div>

            </div>
    </main>