extends base.pug

block style
    <link rel="stylesheet" href="/static/css/repos.css">

block title
    <title>Choose repository</title>

block content
    <main>
        <h1>Choose repository</h1>

        <div class="card-list">
            <ul>
                each repo, index in repos
                    <div class="card-wrapper">
                        <div id="#{index}" class="card">#{repo.fullName}
                        if repo.language != "not supported"
                            <img src="#{repo.language}"></img>
                        </div>
                        
                        if repo.setup === false 
                            <div class="content">
                                <div id="#{index}" class="sub-card" onclick="document.body.classList.add('loading-animation');location.href='/#{repo.fullName}/setup'">Setup repository</div>
                            </div>
                        else if repo.pullRequests.length === 0
                            <div class="content">
                                <div id="#{index}" class="sub-card-disabled">No open pull requests found</div>
                            </div>
                        else
                            each pull, pulldex in repo.pullRequests
                                <div class="content">
                                    <div id="#{index}-#{pulldex}" class="sub-card" onclick="document.body.classList.add('loading-animation');location.href='/#{repo.fullName}/#{pull.branch}/#{pull.number}/testing'">#{pull.title} (##{pull.number})</div>
                                </div>
                    </div>
            </ul>
        </div>
        
    </main>
    
block script
    <script src="/static/js/repos.js"></script>