extends base.pug

block style
    <link rel="stylesheet" href="/static/css/repos.css">

block title
    <title>Choose repository</title>

block content
    <main>
        <h1>Choose repository</h1>

        <div class="card-list">
            <ul>
                each repo, index in repos
                    <div class="card-wrapper">
                        <div id="#{index}" class="card">#{repo.fullName}
                        if repo.setup === true 
                            <a href="/#{repo.fullName}/main/logs"><span class="material-icons log-icon">fact_check</span></a>
                        if repo.language != "not supported"
                            <img src="#{repo.language}">
                        </div>
                        
                        if repo.setup === false 
                            <div class="content">
                                <div id="#{index}" class="sub-card" onclick="setupRepository('#{repo.fullName}')">Setup repository</div>
                            </div>
                        else if repo.pullRequests.length === 0
                            <div class="content">
                                <div id="#{index}" class="sub-card-disabled">No open pull requests found</div>
                            </div>
                        else
                            each pull, pulldex in repo.pullRequests
                                <div class="content">

                                    if pull.status === 'waiting'
                                        <button id="#{index}-#{pulldex}" class="sub-card waiting" onclick="document.body.classList.add('loading-animation');location.href='/#{repo.fullName}/#{pull.branch}/#{pull.number}/testing'">#{pull.title} (##{pull.number})</button>
                                    else if pull.status === 'testing'
                                        <button id="#{index}-#{pulldex}" class="sub-card testing" disabled>#{pull.title} (##{pull.number})</button>
                                    else
                                        <button id="#{index}-#{pulldex}" class="sub-card not-active" disabled>#{pull.title} (##{pull.number})</button>

                                    <a href="/#{repo.fullName}/#{pull.branch}/logs"><span class="material-icons log-icon">fact_check</span></a>
                                </div>
                                
                                <div>

                                </div>
                    </div>
            </ul>
        </div>
        
    </main>
    
block script
    <script src="/static/js/repos.js"></script>