extends base.pug

block style
    <link rel="stylesheet" href="../static/css/repos.css">

block title
    <title>Choose repository</title>

block content
    <main>
        <h1>Choose repository</h1>

        <div class="card-list">
            <ul>
                each repo, index in repos
                    <div class="card-wrapper">
                        <button id="#{index}" class="card">#{repo.full_name}</button>
                        if repo.pullRequests.length === 0
                            <div class="content">
                                <button id="#{index}" class="subcard" disabled>No open pull requests found</button>
                            </div>
                        else
                            each pull, pulldex in repo.pullRequests
                                <div class="content">
                                    <button id="#{index}-#{pulldex}" class="subcard" onclick="location.href='/#{repo.full_name}/#{pull.number}/testing'">#{pull.title} (##{pull.number})</button>
                                </div>
                    </div>
            </ul>
        </div>
    </main>
    
block script
    <script src="../static/js/choose_repo.js"></script>