<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p>Showing <a id="numberOfFunctions">#{functions.length}</a> functions</p>

    each func, index in functions
        <p>Showing <a id="func-#{index}" data-numoftc="#{func.testCases.length}">#{func.testCases.length}</a> testcases</p>
        each tc, tdex in func.testCases
            <div id="tc-#{index}-#{tdex}" data-numofargs="#{tc.arguments.length}" data-funcname="#{func.name}" data-funcstatus="#{tc.status}">
                li= func.name
                <input type="text" class="description" id="description-#{index}-#{tdex}" value="#{tc.description}">
                each arg, argdex in tc.arguments
                    <input type="text" class="input" id="input-#{index}-#{tdex}-#{argdex}" value="#{arg}">

                <input type="text" class="output" id="output-#{index}-#{tdex}" value="#{tc.expected}">

                <select id="chooseMatcher-#{index}-#{tdex}">
                    each matcher in matcherOptions 
                        if matcher === tc.matcher 
                            <option value="#{matcher}" selected>#{matcher}</option>
                        else 
                            <option value="#{matcher}">#{matcher}</option>
                </select>
            </div>

    <button type="submit" value="Submit" onclick="submitTests()">Submit</button>

    <script src="../static/js/index.js"></script>
</body>
</html>