extends base.pug

block style 
    <link rel="stylesheet" href="/static/css/testing.css">
    <link rel="stylesheet" href="/static/css/prism.css">

block title
    <title>Modify test cases</title>

block content 
    <aside id="sidebar">
        <h2>Files</h2>
        <ul>
            <li><a href="#top">-- Go to top</a></li>
            each file in files
                <li><a href="##{file.path}" title="#{file.path}">#{file.path}</a></li>
        </ul>
    </aside>

    <main>
        <h1 id="top">Modify test cases</h1>
        <div class="info-div">
            <p>Pull request: main &#10229; #{branch} (<a href="#{pr}" target="_blank">View on GitHub</a>)</p>
            <p>Owner: <a href="https://github.com/#{user}" target="_blank">#{user}</a><p>
            <p>Repository: <a href="https://github.com/#{user}/#{repo}" target="_blank">#{repo}</a></p>
            <p>Logs: <a href="/#{user}/#{repo}/#{branch}/logs">View latest test report</a></p>
        </div>
        
        <form onsubmit="submitTests(event)">
            each file in files 
                <div class="file-div">
                    <h2 id="#{file.path}" class="file-path">#{file.path}</h2>
                
                    each func in file.functions
                        <div class="func-div" data-func-name="#{func.name}" data-func-params="#{func.params}" data-func-async="#{func.async}" data-func-string="#{func.functionString}" data-func-status="#{func.status}" data-num-tc="#{func.testCases.length}">
                            if func.status !== "1"
                                <button type="button" class="btn-exclude" onclick="toggleFunction('#{func.name}', this.parentElement, #{matcherOptions})">Exclude #{func.name}</button>
                            else 
                                <button type="button" class="btn-include" onclick="toggleFunction('#{func.name}', this.parentElement, #{matcherOptions})">Include #{func.name}</button>
                            
                            <div class="func-name-description">
                                <section>
                                    <div class="input-fields">    
                                        <h3>#{func.name}</h3>
                                        <p>Status: <a class="func-status">#{func.status}</a></p>
                                        case func.status
                                            when "-1": p At least one test case failed.
                                            when "0": p Not assessed: Choose to either include or exclude #{func.name} from test.
                                            when "1": p Assessed: #{func.name} will NOT be tested.
                                            when "2": p All test cases in #{func.name} have passed.
                                            default: p Look up status code in the guide.
                                        if func.status === "1"
                                            <label>Comment</label>
                                            if func.comment === ""
                                                <input type="text" class="comment" placeholder="Write comment here" required>
                                            else 
                                                <input type="text" class="comment" value="#{func.comment}" required>
                                    </div>
                                </section>

                                pre
                                    code(class="language-js") #{func.functionString}
                            </div>
                            
                            if func.status !== "1"
                                if func.testCases.length === 0
                                    <script src="/static/js/testCases.js" onload="addNewTestCase('#{func.name}', this.parentElement, 0, #{matcherOptions})"></script>
                                else
                                    each tc, tcdex in func.testCases
                                        if tc.passed
                                            <div class="tc-div passed" data-tc-index="#{tcdex}" data-tc-passed="#{tc.passed}">
                                        else
                                            <div class="tc-div" data-tc-index="#{tcdex}" data-tc-passed="#{tc.passed}">
                                        
                                        <h4>Test case #{tcdex + 1} (#{func.name})</h4>
                                        <p>Passed: <a class="tc-pass">#{tc.passed}</a></p>

                                        <section class="tc-description">
                                            <div class="input-fields">
                                                <label>Description</label>
                                                if tc.description === ""
                                                    <input type="text" class="description" placeholder="Description for test case" required>
                                                else
                                                    <script src="/static/js/testCases.js" onload="addDescription('#{tc.description}', this.parentElement)"></script>
                                            </div>
                                        </section>

                                        <section class="tc-arguments">
                                            each arg, argdex in func.params
                                                <div class="input-fields">
                                                    <label>Argument #{argdex + 1}</label>
                                                    <input type="text" class="input arg" value="#{tc.arguments[argdex]}" required>
                                                </div>
                                        </section>
                                        
                                        <section class="tc-matcher">
                                            <div class="input-fields">
                                                <label>Choose matcher</label>
                                                <select class="selected-matcher" required>
                                                    <option value="">Choose a matcher</option>
                                                    each matcher in matcherOptions 
                                                        if matcher === tc.matcher 
                                                            <option value="#{matcher}" selected>#{matcher}</option>
                                                        else 
                                                            <option value="#{matcher}">#{matcher}</option>
                                                </select>
                                            </div>
                                        </section>
                                        
                                        <section class="tc-output">
                                            <div class="input-fields">
                                                <label>Expected output</label>
                                                <input type="text" class="output" value="#{tc.expected}" required>
                                            </div>
                                        </section>

                                        <button type="button" class="btn-del" onclick="removeTestCase(this.parentElement)">Delete test case #{tcdex + 1}</button>
                                        </div>

                            if func.status === "1"
                                <button type="button" class="btn-add" onclick="addNewTestCase('#{func.name}', this.parentElement, #{func.testCases.length}, #{matcherOptions})" hidden>+ Add new test case</button>
                            else if func.testCases.length === 0
                                <button type="button" class="btn-add" onclick="addNewTestCase('#{func.name}', this.parentElement, 1, #{matcherOptions})">+ Add new test case</button>
                            else
                                <button type="button" class="btn-add" onclick="addNewTestCase('#{func.name}', this.parentElement, #{func.testCases.length}, #{matcherOptions})">+ Add new test case</button>
                        </div>
                </div>
            <button type="submit">Submit</button>
        </form>
    </main>

block script
    <script src="/static/js/testing.js"></script>
    <script src="/static/js/testCases.js"></script>
    <script src="/static/js/prism.js"></script>
